html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  background:rgb(70, 163, 88);
}

:root {
  --swiper-theme-color: rgb(70, 163, 88) !important;
}

::selection{
  color: white;
  background:rgb(70, 163, 88);
}